Name: Zhuoyou Shen

ID: 2035073656

GitHub Username: zhuoyous

Late Day : 1

In [1]:
import os
import pandas as pd
import numpy as np
import bootstrapped.bootstrap as bs
import bootstrapped.stats_functions as boot_stats

1.

By observating the dataset, we find out that missing rows in dataset Cycling dataset 8 and two extra commas in Cycling dataset 9 and cycling dataset 14.

As for the missing row, I decide to leave it. As for the extra commas, I decide to maunally delete them.

(b)

In [2]:
#get all the data directory
all_data_dir = []
current_dir = os.getcwd()
current_dir = os.path.join(current_dir,'../data/AReM')
file = os.listdir(current_dir)
for new_dir in file:
    all_path = os.path.join(current_dir,new_dir)
    if new_dir.endswith('pdf'):
        pass
    else:
        all_data_dir.append(all_path)

In [3]:
#get test data path
test_path = []
bending1 = []
bending2 = []
cycling = []
lying = []
sitting = []
standing = []
walking = []
b1 = os.path.join( all_data_dir[0],os.listdir(all_data_dir[0])[0])
b2 = os.path.join( all_data_dir[0],os.listdir(all_data_dir[0])[1])
bending1.append(b1)
bending1.append(b2)
bb1 = os.path.join( all_data_dir[1],os.listdir(all_data_dir[1])[0])
bb2 = os.path.join( all_data_dir[1],os.listdir(all_data_dir[1])[1])
bending2.append(bb1)
bending2.append(bb2)
c1 = os.path.join( all_data_dir[2],os.listdir(all_data_dir[2])[0])
c2 = os.path.join( all_data_dir[2],os.listdir(all_data_dir[2])[7])
c3 = os.path.join( all_data_dir[2],os.listdir(all_data_dir[2])[8])
cycling.append(c1)
cycling.append(c2)
cycling.append(c3)
l1 = os.path.join( all_data_dir[3],os.listdir(all_data_dir[3])[0])
l2 = os.path.join( all_data_dir[3],os.listdir(all_data_dir[3])[7])
l3 = os.path.join( all_data_dir[3],os.listdir(all_data_dir[3])[8])
lying.append(l1)
lying.append(l2)
lying.append(l3)
s1 = os.path.join( all_data_dir[4],os.listdir(all_data_dir[4])[0])
s2 = os.path.join( all_data_dir[4],os.listdir(all_data_dir[4])[7])
s3 = os.path.join( all_data_dir[4],os.listdir(all_data_dir[4])[8])
sitting.append(s1)
sitting.append(s2)
sitting.append(s3)
ss1 = os.path.join( all_data_dir[5],os.listdir(all_data_dir[5])[0])
ss2 = os.path.join( all_data_dir[5],os.listdir(all_data_dir[5])[7])
ss3 = os.path.join( all_data_dir[5],os.listdir(all_data_dir[5])[8])
standing.append(ss1)
standing.append(ss2)
standing.append(ss3)
w1 = os.path.join( all_data_dir[6],os.listdir(all_data_dir[6])[0])
w2 = os.path.join( all_data_dir[6],os.listdir(all_data_dir[6])[7])
w3 = os.path.join( all_data_dir[6],os.listdir(all_data_dir[6])[8])
walking.append(w1)
walking.append(w2)
walking.append(w3)
for i in [bending1,bending2,cycling,lying,sitting,standing,walking]:
    test_path = test_path + i

Test Data

In [4]:
#test data
test_data = pd.DataFrame() 
for i in test_path:
    df = pd.read_csv(i, header=4)
    test_data = pd.concat([test_data, df],ignore_index=True)
label = []
for i in range(960):
    label.append('bending1')
for i in range(960):
    label.append('bending2')
for i in range(1440):
    label.append('cycling')
for i in range(1440):
    label.append('lying')
for i in range(1440):
    label.append('sitting')
for i in range(1440):
    label.append('standing')
for i in range(1440):
    label.append('walking')
test_data['label'] = label
test_data

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23,label
0,0,39.25,0.43,22.75,0.43,33.75,1.30,bending1
1,250,39.25,0.43,23.00,0.00,33.00,0.00,bending1
2,500,39.25,0.43,23.25,0.43,33.00,0.00,bending1
3,750,39.50,0.50,23.00,0.71,33.00,0.00,bending1
4,1000,39.50,0.50,24.00,0.00,33.00,0.00,bending1
...,...,...,...,...,...,...,...,...
9115,118750,36.00,2.45,17.00,5.10,20.50,0.87,walking
9116,119000,34.33,1.89,15.00,2.45,17.00,2.12,walking
9117,119250,33.00,7.35,14.60,3.14,13.00,5.70,walking
9118,119500,31.67,1.25,11.00,6.16,19.25,2.17,walking
9119,119750,30.75,10.21,11.75,1.09,18.50,3.20,walking

In [5]:
#get train data path
train_path = []
bending1 = []
bending2 = []
cycling = []
lying = []
sitting = []
standing = []
walking = []
for i in (2,3,4,5,6):
    b1 = os.path.join( all_data_dir[0],os.listdir(all_data_dir[0])[i])
    bending1.append(b1)
for i in (2,3,4,5):
    b2 = os.path.join( all_data_dir[1],os.listdir(all_data_dir[1])[i])
    bending2.append(b2)
for i in (1,2,3,4,5,6,9,10,11,12,13,14):
    c1 = os.path.join( all_data_dir[2],os.listdir(all_data_dir[2])[i])
    cycling.append(c1)
for i in (1,2,3,4,5,6,9,10,11,12,13,14):
    l1 = os.path.join( all_data_dir[3],os.listdir(all_data_dir[3])[i])
    lying.append(l1)
for i in (1,2,3,4,5,6,9,10,11,12,13,14):
    s1 = os.path.join( all_data_dir[4],os.listdir(all_data_dir[4])[i])
    sitting.append(s1)    
for i in (1,2,3,4,5,6,9,10,11,12,13,14):
    ss1 = os.path.join( all_data_dir[5],os.listdir(all_data_dir[5])[i])
    standing.append(ss1)
for i in (1,2,3,4,5,6,9,10,11,12,13,14):
    w1 = os.path.join( all_data_dir[6],os.listdir(all_data_dir[6])[i])
    walking.append(w1)
for i in [bending1,bending2,cycling,lying,sitting,standing,walking]:
    train_path = train_path + i

Train Data

In [6]:
# train data
train_data = pd.DataFrame() 
for i in train_path:
    df = pd.read_csv(i, header=4)
    train_data = pd.concat([train_data, df],ignore_index=True)
label = []
for i in range(2400):
    label.append('bending1')
for i in range(1920):
    label.append('bending2')
for i in range(5760):
    label.append('cycling')
for i in range(5760):
    label.append('lying')
for i in range(5759):
    label.append('sitting')
for i in range(5760):
    label.append('standing')
for i in range(5760):
    label.append('walking')
train_data['label'] = label
train_data

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23,label
0,0,42.00,0.71,21.25,0.43,30.00,0.00,bending1
1,250,41.50,0.50,20.25,1.48,31.25,1.09,bending1
2,500,41.50,0.50,14.25,1.92,33.00,0.00,bending1
3,750,40.75,0.83,15.75,0.43,33.00,0.00,bending1
4,1000,40.00,0.71,20.00,2.74,32.75,0.43,bending1
...,...,...,...,...,...,...,...,...
33114,118750,31.50,1.66,12.50,3.20,14.25,4.44,walking
33115,119000,27.33,1.25,11.33,0.94,20.00,4.00,walking
33116,119250,37.80,7.68,14.20,2.48,17.25,0.83,walking
33117,119500,33.75,1.30,15.75,5.21,16.50,2.69,walking
33118,119750,32.67,3.09,18.67,0.47,14.00,3.16,walking

(c)

i.

They are Mean, Median, Variance, Standard Deviation, 1st Quartile, 3rd Quartile, Miniumum and Maximum Values

ii.

All Data

In [7]:
all_data_path = []
for i in all_data_dir:
    for a in os.listdir(i):
        dir1 = os.path.join(i, a)
        new_dir = dir1.replace(os.sep, '/')
        all_data_path.append(new_dir)
all_data = pd.DataFrame() 
for i in all_data_path:
    df = pd.read_csv(i, header=4)
    all_data = pd.concat([all_data, df],ignore_index=True)
all_data

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
0,0,39.25,0.43,22.75,0.43,33.75,1.30
1,250,39.25,0.43,23.00,0.00,33.00,0.00
2,500,39.25,0.43,23.25,0.43,33.00,0.00
3,750,39.50,0.50,23.00,0.71,33.00,0.00
4,1000,39.50,0.50,24.00,0.00,33.00,0.00
...,...,...,...,...,...,...,...
42234,118750,31.50,1.66,12.50,3.20,14.25,4.44
42235,119000,27.33,1.25,11.33,0.94,20.00,4.00
42236,119250,37.80,7.68,14.20,2.48,17.25,0.83
42237,119500,33.75,1.30,15.75,5.21,16.50,2.69
42238,119750,32.67,3.09,18.67,0.47,14.00,3.16

In [8]:
column1 =['min1','min2','min3','min4','min5','min6']
column2 =[ 'max1','max2','max3','max4','max5','max6']  
column3 = ['mean1', 'mean2', 'mean3', 'mean4', 'mean5', 'mean6']
column4 = ['median1' ,   'median2' ,   'median3' ,   'median4' ,   'median5' , 'median6']
column5 =[ 'std1', 'std2', 'std3', 'std4', 'std5', 'std6']
column6 = [ '1st_quartile1','1st_quartile2','1st_quartile3','1st_quartile4','1st_quartile5','1st_quartile6']
column7 = ['3rd_quartile1','3rd_quartile2','3rd_quartile3','3rd_quartile4','3rd_quartile5','3rd_quartile6']

Min = []
Max = []
Mean = []
Median = []
Standard_dev = []
first_quartile = []
third_quartile = []
for i in range(88):
    df = pd.read_csv(all_data_path[i],header = 4)
    df = df.drop(columns = '# Columns: time')
    Min = Min + [df.min().values]
    Max = Max +[df.max().values]
    Mean = Mean + [df.mean().values]
    Median = Median + [df.median().values]
    Standard_dev = Standard_dev + [df.std().values]
    first_quartile = first_quartile + [df.quantile(0.25).values]
    third_quartile = third_quartile +  [df.quantile(0.75).values]
    
table1 = pd.DataFrame(Min,columns = column1)
table2 = pd.DataFrame(Max,columns = column2)
table3 = pd.DataFrame(Mean,columns = column3)
table4 = pd.DataFrame(Median,columns = column4)
table5 = pd.DataFrame(Standard_dev,columns = column5)
table6 = pd.DataFrame(first_quartile,columns = column6)
table7 = pd.DataFrame(third_quartile,columns = column7)
table = pd.concat([table1,table2,table3,table4,table5,table6,table7],axis = 1)
table

,min1,min2,min3,min4,min5,min6,max1,max2,max3,max4,...,1st_quartile3,1st_quartile4,1st_quartile5,1st_quartile6,3rd_quartile1,3rd_quartile2,3rd_quartile3,3rd_quartile4,3rd_quartile5,3rd_quartile6
0,37.25,0.0,4.00,0.0,27.25,0.0,45.00,1.30,29.50,7.23,...,16.00,0.0000,33.0000,0.00,42.0000,0.5000,23.2500,1.1200,36.00,1.3000
1,38.00,0.0,2.00,0.0,27.67,0.0,45.67,1.22,29.50,5.76,...,19.00,0.0000,32.0000,0.00,43.6700,0.5000,22.2500,1.1450,34.50,1.3000
2,35.00,0.0,6.50,0.0,29.00,0.0,47.40,1.70,29.75,4.44,...,19.75,0.0000,35.3625,0.00,45.0000,0.5000,24.0000,0.8300,36.50,0.9400
3,33.00,0.0,8.50,0.0,20.00,0.0,47.75,3.00,30.00,5.15,...,20.50,0.4300,30.4575,0.00,45.0000,1.1200,24.3725,1.3000,36.33,1.0000
4,33.00,0.0,3.00,0.0,23.67,0.0,45.75,2.83,28.25,6.42,...,16.50,0.4300,28.4575,0.00,42.7500,0.7100,22.0625,1.1200,31.25,0.5000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,20.75,0.0,5.00,0.0,6.00,0.0,46.25,12.68,23.75,9.20,...,13.50,2.0500,14.2500,2.05,38.2500,5.7225,17.2500,4.1950,18.33,4.3050
84,21.50,0.0,6.50,0.0,6.33,0.0,51.00,12.21,23.33,9.09,...,13.33,2.0575,14.2375,2.12,38.0625,5.6250,17.6700,3.8400,18.25,4.5000
85,18.33,0.0,7.67,0.0,6.67,0.0,47.67,12.48,23.33,9.01,...,13.67,2.0500,13.7500,2.05,38.0000,5.7450,17.5000,4.2450,18.00,4.3200
86,18.33,0.0,5.50,0.0,6.50,0.0,45.75,15.37,24.00,9.18,...,13.00,2.0375,14.0000,2.12,38.0000,5.7675,17.3725,4.1575,18.25,4.2600
87,15.50,0.0,7.67,0.0,5.75,0.0,43.67,17.24,23.00,9.20,...,13.75,2.1200,14.3300,2.24,37.2500,5.7650,17.5000,4.4400,18.25,4.5375

iii.

In [9]:
table.std()

min1             9.569975
min2             0.000000
min3             2.956462
min4             0.000000
min5             6.124001
min6             0.045838
max1             4.394362
max2             5.062729
max3             4.875137
max4             2.183625
max5             5.741238
max6             2.518921
mean1            5.335718
mean2            1.574164
mean3            4.008380
mean4            1.166114
mean5            5.675593
mean6            1.154812
median1          5.440054
median2          1.412244
median3          4.036396
median4          1.145586
median5          5.813782
median6          1.086474
std1             1.772153
std2             0.884105
std3             0.946710
std4             0.458242
std5             1.024898
std6             0.517617
1st_quartile1    6.153590
1st_quartile2    0.946386
1st_quartile3    4.220658
1st_quartile4    0.843620
1st_quartile5    6.096465
1st_quartile6    0.758584
3rd_quartile1    5.138925
3rd_quartile2    2.125266
3rd_quartile3    4.171628
3rd_quartile4    1.552504
3rd_quartile5    5.531720
3rd_quartile6    1.523599
dtype: float64

In [10]:
confi_inter = []
for i in table.columns:
    time_domain_features = bs.bootstrap( table[i].values,stat_func = boot_stats.std,alpha=0.1)
    confi_inter.append(time_domain_features)

In [11]:
t1 = pd.DataFrame(table.std())
t1.columns = ['standard deviation']
t1['confidence interval'] = confi_inter
print(t1.to_string())

               standard deviation                                                  confidence interval
min1                     9.569975         9.515445066931841    (8.311272409121335, 10.805783719708097)
min2                     0.000000                                                    0.0    (0.0, 0.0)
min3                     2.956462         2.9396159844182215    (2.788098544912384, 3.136525985030787)
min4                     0.000000                                                    0.0    (0.0, 0.0)
min5                     6.124001           6.089106551460676    (4.685377048115629, 7.75965561662465)
min6                     0.045838  0.045576965827593074    (0.013124961748951322, 0.09115393165518615)
max1                     4.394362           4.36932238296287    (3.453930086273245, 5.409907552635497)
max2                     5.062729          5.033881679163113    (4.689976380614357, 5.468093649290267)
max3                     4.875137        4.8473579111726695    (4.265973097314687, 5.5363819071719105)
max4                     2.183625         2.171183073234498    (1.9939667657555784, 2.378790477228646)
max5                     5.741238           5.7085244261061385    (4.879067847539681, 6.6808219166005)
max6                     2.518921         2.50456803477282    (2.2537600335592964, 2.7667157425913245)
mean1                    5.335718          5.305314461239687    (4.763605635790587, 5.926853094419769)
mean2                    1.574164         1.565194252074566    (1.430698078651925, 1.7422248387125518)
mean3                    4.008380         3.985540173028038    (3.504491003295789, 4.5692754571007494)
mean4                    1.166114       1.1594695120976577    (1.1043858382421707, 1.2503965424250263)
mean5                    5.675593           5.643253378646845    (4.572779718217646, 6.87953760974233)
mean6                    1.154812       1.1482317454684936    (1.0876980872177275, 1.2403076029260762)
median1                  5.440054          5.409056425357996    (4.841946572970328, 6.057380519850659)
median2                  1.412244       1.4041971241720508    (1.2710302308254005, 1.5763492311501082)
median3                  4.036396          4.013396722341803    (3.517590750953455, 4.627149788421086)
median4                  1.145586        1.139058054228987    (1.0842276352247073, 1.2312389119403953)
median5                  5.813782         5.780655201421558    (4.690827786315923, 7.0911627164515085)
median6                  1.086474        1.080283538057551    (1.0193029090039614, 1.1728519169585914)
std1                     1.772153       1.7620555751491025    (1.5853528165590858, 1.9608884472668553)
std2                     0.884105       0.8790677991268445    (0.8222192748353253, 0.9597764141352703)
std3                     0.946710        0.941315857696776    (0.7613609195174253, 1.1256365370784303)
std4                     0.458242     0.45563061241860064    (0.42834566053775314, 0.4928843010169469)
std5                     1.024898       1.0190579837087281    (0.8238250832372038, 1.2345160388874377)
std6                     0.517617       0.5146680632623812    (0.4871620707943396, 0.5541507787765356)
1st_quartile1            6.153590          6.118526249454473    (5.6255763996751496, 6.70618890875944)
1st_quartile2            0.946386        0.9409936333203218    (0.8536302959442605, 1.057757561619699)
1st_quartile3            4.220658          4.196608356067418    (3.714851426754292, 4.786353714973872)
1st_quartile4            0.843620       0.8388126951078968    (0.7913336262808112, 0.9080252916450602)
1st_quartile5            6.096465          6.061727225339022    (4.960548805084368, 7.345124414364727)
1st_quartile6            0.758584        0.754261365241397    (0.7052737061607018, 0.8259863207306151)
3rd_quartile1            5.138925         5.109642753365408    (4.4102324975858815, 5.914523085972335)
3rd_quartile2            2.125266         2.1131565277371136    (1.942211518418317, 2.340723960874813)
3rd_quartile3            4.171628        4.1478580691355535    (3.6334430513696114, 4.792302140998491)
3rd_quartile4            1.552504         1.543657928587387    (1.468703046143478, 1.6642117653835038)
3rd_quartile5            5.531720          5.500200189394758    (4.508368709684623, 6.667449528723989)
3rd_quartile6            1.523599         1.514917579004774    (1.4368305441870697, 1.634987380817106)

iv.

My choices are Mean,Max, and Standard Deviation.

Since Mean values give us the average value; Max values help us to get the maximun of the dataset; Standard Deviation tells us how dispersed the data is in relation to the mean values that we have oberserved.

ISLR 3.7.4

(a)

I expect the cubic regression to have the lower training RSS than the linear model because the extra polynomial terms give us a closer fit to the data. This could lead to the overfitting problem.

(b)

I expect the linear regression to have the lower testing RSS than the cubic model because the actual model is linear and we do not have to use higher model to fit it. The simple linear model will be good enough to generate unseen data.

(c)

The cubic regression should have the lower training RSS than the linear model because higher model are more felxible and always give us lower training error.

(d)

There is not enough information. We only know the true model is not linear but we do not know if the true model is closer to the linear or cubic. If the true model is more closer to the linear, we expect the linear model to have a lower testing RSS. If the true model is closer to the cubic, the cubic will have lower testing RSS.